
.comments-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    
   
  }

  .comment{
    border-radius: 6px;
    background-color: aliceblue;
    overflow: hidden;

  }
  .comment:hover{
    transition:  all 800ms ease;
    background-color: grey;
  }


  .title-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
 
  }

  .title-container h2{
    font-size: 25px;
  }

  .title-container span{
    background-color: black;
    font-size: 20px;
    font-weight: 50%;
    color: white;
    border-radius: 10px;
    padding: 10px ;
    
  }

  .comment-title{
    display: flex;
    justify-content: space-between;
    padding: 20px 16px;
    background-color: darkgray;
  }

  .comment-body{
    padding: 16px;
  }

.text-title{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100px;
}

.pagination{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  align-items: center;
}

.paginationDisabled{
 
}

#icon{
  font-size: 20px;
}

.paginationActive{
  border-radius: 100px;
  padding: 8px;
  background-color: aqua;


}

.previous, .next{
  padding: 8px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.page{
  padding: 8px;
  width: 40px;
  height: 40px;
}

.break{
  padding: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
}

/* 
.paginationContainer{
  width: 100%;
  height: 100px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: center;
  font-size: large;
  

  justify-content: center;

}

.paginationBttnActive {
 
  color: aqua;
  background-color: black;

} */






/*-------------MEDIA QUERIES.............*/
@media screen and (max-width: 1024px) {
  .container{
    width: 700px;
  }
  .comments-container{
   display: grid;
   grid-template-columns: auto auto auto;
      
  }
  .title-container h2{
    font-size: 20px;
  }

  .title-container span{
    font-size: 15px;
  }

  .text-title{
    width: 80px;
  }
  .comment-body{
    padding: 10px;
  }

}


/*-------------MEDIA QUERIES(small devices).............*/
@media screen and (max-width: 500px) {
    .container{
      width: 450px;
    }
    .comments-container{
     display: grid;
     grid-template-columns: auto auto;
     gap: 1rem;   
    }
    .title-container h2{
      font-size: 15px;
    }
    .title-container span{
      font-size: 10px;
      
    }
  
}
