
.container {
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    padding: 40px 50px ;
    margin: 20px 0;
    position: relative;
    width: 50%;
    display: grid;
    grid-template-columns: auto;
    gap: 5rem;
   
  }

  .comments {
    display: flex;
    justify-content: space-between;
   
  }

