.header {
  background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 60px;

  }

  .live a{
    color: white;
    font-size: 20px;
    font-weight: 800;
    
}
  
  .header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  #admin{
  border: 2px solid #e6e6e6;
  padding: 2px;
  border-radius: 5px;
  }

  #profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: #000;
    padding: 10px;
    position: relative;
    line-height: 0.8;
    font-size: 1.4rem;
  }

  #profile p{
    font-size: 20px;
    color: #000;
    width: 100%;
    position: relative;
    line-height: 1.1;
    text-align: center;
  }

  #comments{
    background-color: white;
    color: #000;
    padding: 10px;
    position: relative;
    line-height: 0.8;
    font-size: 1.4rem;
  }

  #comments p{
    font-size: 20px;
    color: #000;
    width: 100%;
    position: relative;
    line-height: 1.1;
    text-align: center;
    
  }


  
.header ul li {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 50%;
    
  }
 
  
  .header ul li a {
    display: flex;
    align-items: center;
    color: white; 
  
  }

  
  .header ul li a:hover{ 
    color: grey; 
    transition:  all 800ms ease;  
    border-radius: 5px;
    background-color: transparent;
    } 

    .header ul li a.active{
      background-color: #e6e6e6;
    }



  
/*-------------MEDIA QUERIES.............*/
@media screen and (max-width: 1024px) {
  .header ul li {
    font-size: 15px;
    margin-left: 10px;
  }

  #profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .live a{
    font-size: 18px;
    font-weight: 700;
  }
  #profile p{
    font-size: 15px;
    line-height: 0.7;
  }
    
  #comments p{
    font-size: 0.8rem;
  }

}


/*-------------MEDIA QUERIES(small devices).............*/
@media screen and (max-width: 600px) {
  .header ul li {
    font-size: 12px;
    margin-left: 10px;
  }
  #profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .live a{
    font-size: 15px;
    font-weight: 600;
  }
  
  #profile p{
    font-size: 15px;
    line-height: 0.7;
  }
  
  #comments p{
    font-size: 0.8rem;
  }

  
}



/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 60px;
  }

  .header h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.header-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
} 

.header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/