.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 60px;
   background-color: black;
  }
  .live{
    color: white;
    font-size: 20px;
    font-weight: 800;
}
  
  .header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }



  
.header ul li {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 50%;
    
  }

 
  .header ul li a {
    display: flex;
    align-items: center;
    color: white;
  }

  
/*-------------MEDIA QUERIES.............*/
@media screen and (max-width: 1024px) {
  .header ul li {
    font-size: 15px;
    margin-left: 10px;
  }

}


/*-------------MEDIA QUERIES(small devices).............*/
@media screen and (max-width: 600px) {
  .header ul li {
    font-size: 12px;
    margin-left: 10px;
  }

  
}



/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 60px;
  }

  .header h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.header-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
} 

.header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/