@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #000;
  line-height: 1.6;
  cursor: pointer;
}

.container{
  width: 1200px;
  margin: 20px auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;

}
li {
  line-height: 2.2;
  font-size: 10px;
  color: #fff;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;

}

.page{
  align-items: center;
  text-align: center;
  font-size: 20px;
}


